openai==2.14.0
google-generativeai==0.5.2
transformers==4.57.3
accelerate==1.12.0
selenium==4.43.0
seleniumbase==4.48.4
pillow==11.3.0
pyautogui==0.9.54
beautifulsoup4==4.14.3
pandas==2.3.3
networkx==3.4.2
matplotlib==3.10.7
cloakbrowser==0.3.27